
@mixin sidemenu($theme) {
    
    
}

.mat-list-item-content {
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
    
    &:hover {
      background-color: #ED8F2D;
      color: white;
      box-shadow: 0 20px 20px rgba(0, 0, 0, .16)
    }
    
  }
  .mat-nav-list .mat-list-item:focus,
  .mat-action-list .mat-list-item:focus,
  .mat-list-option:focus {
    background: #ED8F2D !important;
    color: white;
    font-size: 15px;
    font-weight: 500;
  }
  
