
@mixin sidemenu($theme) {
    
    
}

.mat-list-item-content {
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: default;
  
    &:hover {
    //   transform: translate(0, -8px);
    background-color: #ED8F2D;
      box-shadow: 0 20px 20px rgba(0, 0, 0, .16)
    }
    &::selection {
        background-color: red;
      }
  }
  .a :active{
    // transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    // cursor: default;
    &::content {
        background-color: red;
      }
   
  }