.add-patient-btn
{
    
    align-items: center;
    padding-left: 58%;
    button{
        background-color: #ED8F2D;
        color: white;
        width: 150px;
        height: 40px;
        position: inherit;
        display: inline-flex;
    }

    .maticon
    {
      
        font-size: large;
        padding-top: 10px;
        
    }

   
    span{
        position: absolute;
        margin-top: 2px;
    }
}
@media only screen and (max-width: 480px) {
    
    .patient-email-container{
        display: none;
    }
        .mattable-container{
            width: 99%;


            table{
                width: 100%;
            }
        }
}

.title-section
{
    margin-top: 2%;
    display: flex;
    h6{
        font-family: Roboto,Helvetica Neue, sans-serif;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 02%;
    }
}

.example-small-box
{
    margin-top: 25px;
}