<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />


<!-- ////////////////////////////////////////////////////////////////////////////// -->

<mat-progress-bar *ngIf="loginstarts"  mode="indeterminate"></mat-progress-bar>

<div fxLayout="column" fxFlexFill 
style="background-color:white;
height: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;align-items: none;">

<div class="toolbar-user-container mb-5" style="background-color: #ED8F2D;height: 10%;width: 100%;">
    <span class="form-title" style="color:white !important;font-weight: 500; line-height: 3.5;
    margin-left: 10%;">Place Your Service &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Service Managment System</span>
    <span class="name role-name" fxHide fxShow.gt-xs></span>

</div>
    <div fxLayout="column" >        
        <div class="app-body">
            
            <main class="main  align-items-center">
                <div class="container" >
                   
                    <div class="row">
                        <div class="col-md-7">
                            <div class="card-group ">
                                
                                    <div class="card " style="opacity: 1em;border: none">
                                        <div class="card-body">                                        
                                            <form fxLayout="column" fxLayoutAlign="start stretch" >
                                                <div style=" text-align: left;">
                                                    <img src="../../../assets/images/appp-removebg-preview 1.png" 
                                                    style="height:380px;" alt="">
                                               
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="card-group ">
                                
                                    <div class="card " style="background-color: #E5E5E5;">
                                        <div class="card-body">                                        
                                            <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="userForm" (ngSubmit)="Forgot()">
                                                
                                                <div style="text-align: center;">
                                                    <img src="../../../assets/images/imageedit_5_9375019856 2.png" 
                                                    style="height:39px;width:44.14px;" alt="">
                                               
                                                </div>
                                                <div style="text-align: center;">
                                                    <span class="form-title" style="color:#ED8F2D !important;font-weight: 500;">Place </span>
                                                    <span class="form-title" style="color:black !important;font-weight: 500;"> Your Service</span>
                                              
                                                </div>
                                                <div style="text-align: center;" class="mb-3">
                                                    <span class="form-title " style="color:#ED8F2D !important;font-weight: 500;">Forget your password? </span>      
                                                </div>
                                                
                                                <label class="text-muted" style="font-size: small;">Email Id</label>
                                                <div class="input-group mb-3 mt-0">                                 
                                                    <input type="text" placeholder="Username" autocomplete="username" required="" 
                                                    class="form-control input" type="email" id="email"  placeholder="Please enter your email"
                                                    formControlName="email" required matInput>
                                                    <br>
                                                <span><p *ngIf="isemail" style="color: red;">email is invalid please try with correct email*</p></span>
                                      
                                                </div>
                                                <label class="text-muted" style="font-size: small;"  class="showDiv"  *ngIf="isVisible == 1">Enter OTP</label>
                                                <div class="input-group mb-3 mt-0" >                                 
                                                    <input type="text" placeholder="OTP" autocomplete="otp" required="" 
                                                    class="showDiv" *ngIf="isVisible == 1"
                                                    class="form-control input" type="text" id="otp"  placeholder="Please enter your otp"
                                                    formControlName="otp" required matInput>
                                                    <br>
                                              
                                                </div>
                                                <div style="margin-top: 3%;"  >
                                                    <button mat-raised-button style="background-color: #ED8F2D;width: 100%;color: #fff;"  
                                                    class="showDiv" *ngIf="isVisible == 0"
                                                    type="submit" [disabled]="!userForm.valid" (click)="Send_OTP()">SEND OTP</button>
                                               
                                                </div>
                                                <div style="margin-top: 3%;"  class="showDiv" *ngIf="isVisible == 1">
                                                    <button mat-raised-button style="background-color: #ED8F2D;width: 100%;color: #fff;"  
                                                    type="submit" [disabled]="!userForm.valid" (click)="Forgot_Password()">GET PASSWORD</button>
                                               
                                                </div>
                                                

                                                <div style="text-align: center;">
                                                    <label style="font-size: 12px;text-align: center;"><a [routerLink]="['/login']">Back To Login?</a> </label>
                                                </div>
                                                <div class="showDiv" *ngIf="isVisible == 1"></div>
                                                <div class="hideDiv" *ngIf="isVisible == 0"></div>
                                            </form>
                                        </div>
                                    </div>                                                       
                            </div>
                            <hr style="margin: 0%;text-align: center;"/>
                            <div  style="text-align: center;">
                                <label style="font-size: 12px;text-align: center;">For any assistance & support reach us on +91 98334545****, +91 982020221*** </label>
                            
                            </div>
                            <div style="text-align: center;">
                                <label style="font-size: 12px;">Or </label>
                            
                            </div>
                            <div style="text-align: center;">
                                <label style="font-size: 12px;text-align: center;">Email us on <a href="placeyourservice.com">placeyourservice.com</a> </label>
                            </div>
                                              
                        </div>
                   
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>


<!-- <mat-progress-bar *ngIf="loginstarts"  mode="indeterminate"></mat-progress-bar>
<div fxLayout="column" fxFlexFill 
style="background-color:white;
height: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;align-items: none;">
<div class="toolbar-user-container mb-5" style="background-color: #ED8F2D;height: 10%;width: 100%;">
    <span class="form-title" style="color:white !important;font-weight: 500; line-height: 3.5;
    margin-left: 10%;">Place Your Service &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Service Managment System</span>
    <span class="name role-name" fxHide fxShow.gt-xs></span>

</div>
    <div fxLayout="column" >   
        
        <div class="app-body">
            <main class="main d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 mx-auto" >
                            <div class="card p-4" style="border: 2px solid #4949eb;" >
                                <div class="card-body" >                                        
                                    <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="userForm" (ngSubmit)="Forgot()">
                                        <h2 style="color: #4949eb !important;"> Forget your password?</h2>
                                        <p>
                                            Enter your registered email Id below to receive password.
                                        </p>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-user"></i>
                                                </span>
                                            </div>
                                            <input type="text" autocomplete="username" required="" 
                                            class="form-control input" type="email" id="email"  placeholder="Please enter your email"
                                            formControlName="email" required matInput>
                                            <br>
                                            <span><p *ngIf="isemail" style="color: red;">email is invalid please try with correct email*</p></span>
                                        </div>
                                      
                                        <div class="row" style="margin-top: 5%;">
                                                <div class="col-6">
                                                    <button mat-raised-button color="primary" class="btn-primary" style="background-color: #4949eb;;"
                                                    type="submit" [disabled]="!userForm.valid" (click)="Forgot_Password()">Send Link</button>
                                            </div>
                                            <div class="text-right">
                                                <a mat-flat-button (click)="login()" class="btn-link" style="color: #4949eb;;"><u>Back To Login</u></a>
                                             </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div> -->
