<div style="margin-left: 10px;margin-right: 10px;">
  <mat-card-title>
      <div class="title-section">
        <h6>
          Patient Users     
        </h6>
      </div>  
    </mat-card-title>    
    <mat-divider></mat-divider>
    <div class="example-small-box">
    <div class="add-patient-btn" style="display: none;">
      <button  mat-flat-button
      routerLink="/Registration">
      
        <mat-icon class="maticon">create</mat-icon>  
        <span>
          Add Patient
        </span> 
        
      
      </button>
 </div>
  <mat-form-field appearance="standard" style="width: 100%;">
    <mat-label>Search Here...</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  
  <div class="mattable-container">
    <table mat-table [dataSource]="dataSource" class="example-table"matSort matSortActive="created" matSortDisableClear matSortDirection="desc" style="width: 100%;">
  
     
      <ng-container matColumnDef="id">
        <th  mat-header-cell *matHeaderCellDef mat-sort-header> SR No </th>
        <td mat-cell *matCellDef="let row"> {{row.rownum}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="patient-email-container"> Email </th>
        <td mat-cell *matCellDef="let row" class="patient-email-container"> {{row.email}}</td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row">{{row.title}} {{row.firstName}} {{row.lastName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="fruit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
        <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
      </ng-container>
      
      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button aria-label="Example icon button with a home icon"
           [routerLink]="['/Admin/UserDetails/',row.userKey]"
           [disabled]="row.account !=true?'true':'false'">
            <mat-icon style="color:blueviolet;font-size: medium;padding-top: 5px;" > create</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button aria-label="Example icon button with a home icon" (click)="DeleteUsers(row.userKey)">
            
            <mat-icon style="color:red;font-size: medium; padding-top: 5px;" > delete</mat-icon>
          
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <mat-slide-toggle [checked]="(row.account)" (change)="toggle($event , row.userKey)">
          </mat-slide-toggle>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
    </div>
</div>  

