$gray-lighter: #eceeef !default;
$image_path: "/assets/images/" !default;

$prefix: 'sigin';

.#{$prefix} {

  &-conainer {
    min-height: 100%;
    background-size: cover;
    padding: 100px;
  }

  &-main {
    position: relative;
    margin: 0 auto;
    width: 500px;
  }
}

.full-width {
  width: 100%;
}

.help {

}

.is-danger {

}

.redirect {
  font-size: 14px;
  margin-left: 10px;
  color: #00AAAA;
}

/////////************************************************//////////////////////////
.app-body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden;
}
.app-body .main {
  flex: 1;
  min-width: 0;
}
.app-footer, .app-header, .aside-menu, .main, .sidebar {
  transition: margin-left .25s,margin-right .25s,width .25s,flex .25s;
}
.align-items-center {
  align-items: center!important;
}
.d-flex {
  display: flex!important;
}
// @media (min-width: 1200px){
  
// }
.container {
  max-width: 1140px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

// @media (min-width: 576px){
  
// }
.card-group {
  flex-flow: row wrap;
}

.card-group {
    display: flex;
    // flex-direction: column;
}
*, :after, :before {
  box-sizing: border-box;
}
// @media (min-width: 576px){
// }
.card-group>.card:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
// @media (min-width: 576px){
  
// }
.card-group>.card {
  flex: 1 0 0%;
  margin-bottom: 0;
}
.card-group>.card {
    margin-bottom: 15px;
}
.card {
    margin-bottom: 1.5rem;
}
.p-4 {
    padding: 1.5rem!important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #c8ced3;
    border-radius: 0.25rem;
}
.ml-auto, .mx-auto {
  margin-left: auto!important;
}
.mr-auto, .mx-auto {
  margin-right: auto!important;
}
.col-md-8 {
  flex: 0 0 88.6666666667%;
  max-width: 88.6666666667%;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

// @media (min-width: 576px){
// }
.card-group>.card:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
// @media (min-width: 576px){
  
// }
.card-group>.card+.card {
  margin-left: 0;
  border-left: 0;
}

.card.bg-primary {
    border-color: #187da0;
}
// @media (min-width: 576px){
  
// }
.card-group>.card {
  flex: 1 0 0%;
  margin-bottom: 0;
}
.card-group>.card {
    margin-bottom: 15px;
}
.bg-danger, .bg-dark, .bg-info, .bg-primary, .bg-success, .bg-warning {
    color: #fff;
}
.card {
    margin-bottom: 1.5rem;
}
.text-white {
    color: #fff!important;
}
.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}
.pt-5, .py-5 {
    padding-top: 3rem!important;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.pl-4, .px-4 {
  padding-left: 1.5rem!important;
}
.pr-4, .px-4 {
  padding-right: 1.5rem!important;
}
.bg-primary {
    background-color: #20a8d8!important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #c8ced3;
    border-radius: 0.25rem;
    width: 400px;
}
.text-center {
  text-align: center!important;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5c6873;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e4e7ea;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-link {
  font-weight: 400;
  color: #20a8d8;
  text-decoration: none;
}
.btn-primary {
  color: #fff;
  background-color: #20a8d8;
  border-color: #20a8d8;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #1985ac;
  border-color: #187da0;
}


