@use '@angular/material' as mat;
@mixin mat-list-icon($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
}
@mixin mat-chip() {
    padding: 1px 7px;
}

@mixin sidemenu-item($theme,$icon-size) {
    .sidenav-dropdown-indicator {
        transition: transform .25s;
        &.indicateOpen {
            transform: rotate(180deg);
        }
    }
    mat-nav-list {
        overflow: hidden;
        padding-top: 0px;

    }
    .primary{
        transition: max-height .4s cubic-bezier(.35, 0, .25, 1);
        padding-top: 0px;
    }
    .secondaryMenu {
       // background:  mat.get-color-from-palette($primary, 500); ;
        transition: max-height .4s cubic-bezier(.35, 0, .25, 1);
        padding-top: 0px;
    }

    .mat-nav-list .mat-list-item .mat-list-icon{
        @include mat-list-icon($icon-size);
    }
    .mat-chip:not(.mat-basic-chip){
        @include mat-chip()
    }
    .mat-nav-list .mat-list-item {
        font-size: 14px;
    }


}
 .mat-list-base .mat-list-item {
         color: #8A92A6; 
        
    }
.mat-list-item-content {
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
    
    &:hover {
      background-color: #ED8F2D;
      color: white;
      box-shadow: 0 20px 20px rgba(0, 0, 0, .16)
    }
    
  }
.is-active {
    background: #ED8F2D !important;
    color: white;
    font-size: 15px;
    font-weight: 500;
    .mat-nav-list .mat-list-item {
        color: white;
    }
}
