<h2 mat-dialog-title >Profile</h2>
<hr>
    <table>
    
        <tr>
          <td>
              <h5>First Name</h5>
              <span>Pirithivi</span>
           </td>
           <td>
            <h5>Last Name</h5>
            <span>Ravikumar</span>
            </td>
            <td>
                <h5>Email</h5>
                <span>Pirithivi@mail.com</span>
            </td>
        </tr>
        <tr>
            <td>
                <h5>DOB</h5>
                <span>28-03-1996</span>
             </td>
             <td>
              <h5>Contact Number</h5>
              <span>8878776656</span>
              </td>
              <td>
                  <h5>DOJ</h5>
                  <span>27-10-2021</span>
              </td>
        </tr>
      </table>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>close</button>
</mat-dialog-actions>